@page
@model IndexModel
@{
    //string chartCsv = string.Join(",", Model.ConteggioChart.Select(x => x.Conteggio).ToArray());
    //string chartAY = string.Join(",", Model.ConteggioChart.Select(x => x.Fascia_oraria).ToArray());
    string chartAutomobile = string.Join(",", Model.AutomobileChart.Select(x => x.Conteggio).ToArray());
    string chartAutomobileAY = string.Join(",", Model.AutomobileChart.Select(x => x.Fascia_oraria).ToArray());
    string chartCamion = string.Join(",", Model.CamionChart.Select(x => x.Conteggio).ToArray());
    string chartCamionAY = string.Join(",", Model.CamionChart.Select(x => x.Fascia_oraria).ToArray());
    string chartMotociclo = string.Join(",", Model.MotocicloChart.Select(x => x.Conteggio).ToArray());
    string chartMotocicloAY = string.Join(",", Model.MotocicloChart.Select(x => x.Fascia_oraria).ToArray());
    ViewData["Title"] = "Home page";
}

<style type="text/css">
    .td {
        text-align: center;
    }

    .tr {
        text-align: left;
    }

    .tbody {
        height: 400px;
    }

    #datatable {
        margin-left: 10px;
    }
</style>


<!--CARD TEMPERATURE, HUMIDITY, PRESSURE-->
@foreach (var x in Model.LastSensor)
{
    <div class="card-deck rounded-circle">
        <div class="card">
            <div class="card-header bg-light" style="text-align:center">Temperature</div>
            <div class="card-body">
                <div>
                    <h1 style="text-align:center">@x.Temperature&#176;C</h1>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-light" style="text-align:center">Humidity</div>
            <div class="card-body">
                <div>
                    <h1 style="text-align:center">@x.Humidity%</h1>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-light" style="text-align:center">Pressure</div>
            <div class="card-body">
                <div>
                    <h1 style="text-align:center">@x.Pressure bar</h1>
                </div>
            </div>
        </div>
    </div>
}

<!--LIST-->
<div class="card card-primary" style="margin-top:10px">
    <div class="card-header">
        <h3 class="card-title">List</h3>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="col">Id Strada</th>
                    <th scope="col">Id Incrocio</th>
                    <th scope="col">Id Semaforo</th>
                    <th scope="col">Stato Semaforo</th>
                </tr>
                @foreach (var t in Model.TrafficState)
                {
                    <tr>
                        <td style="padding-left: 35px;">@t.Id_strada</td>
                        <td style="padding-left: 45px;">@t.Id_incrocio</td>
                        <td style="padding-left: 55px;">@t.Id_semaforo</td>
                        @if (t.Stato_semaforo == 1)
                        {
                            <td style="padding-left: 60px; padding-top: 15px;"><div style="background: lawngreen; border-radius: 50%; width: 15px; height: 15px;"></div></td>
                        }
                        else if (t.Stato_semaforo == 2)
                        {
                            <td style="padding-left: 60px;"><div style="background: yellow; border-radius: 50%; width: 15px; height: 15px;"></div></td>
                        }
                        else
                        {
                            <td style="padding-left: 60px;"><div style="background: red; border-radius: 50%; width: 15px; height: 15px;"></div></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- LINE CHART -->
<div class="card card-primary" style="margin-top:10px">
    <div class="card-header" style="padding-top:10px">
        <h3 class="card-title">Chart</h3>
    </div>
    <div class="card-body">
        <canvas id="ChartAutomobile"></canvas>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    var Automobile = {
        label:"Automobile",
        data: [@chartAutomobile],
        lineTension: 0,
        fill: false,
        borderColor: '#ff6384'
    };
    var Camion = {
        label:"Camion",
        data: [@chartCamion],
        lineTension: 0,
        fill: false,
        borderColor: '#4bc0c0'
    };
    var Motociclo = {
        label:"Motociclo",
        data: [@chartMotociclo],
        lineTension: 0,
        fill: false,
        borderColor: '#36a2eb'
    };

    var speedData = {
        labels: [@chartAutomobileAY],
        datasets: [Automobile, Camion, Motociclo]
    };

    var ctx = document.getElementById('ChartAutomobile').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: speedData,

        // Configuration options go here
        options: {}
    });

</script>

